body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  line-height: 1.5;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}